<!DOCTYPE html>
<html>

<head>
	<title>Fuzzy Graph Similarity</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
	<script src="https://unpkg.com/cytoscape@3.28.0/dist/cytoscape.min.js"></script>

</head>

<body>
<div class="container">
	<div class="basic-settings">
		<div>
			<label for="tNorm">Select T-Norm:</label>
			<select id="tNorm">
					<option value="min">Minimum</option>
					<option value="prod">Product</option>
					<option value="luk">Łukasiewicz</option>
					<option value="drast">Drastic Product</option>
			</select>
		</div>

		<div>
			<label for="nodeDegree">Node Degree:</label>
			<input type="number" id="nodeDegree" min="0" max="1" step="0.01" value="0.5">
		</div>

		<div>
			<label for="edgeDegree">Edge Degree:</label>
			<input type="number" id="edgeDegree" min="0" max="1" step="0.01" value="0.5">
		</div>
    <button class="helpButton" onclick="openModal()">Show Help</button>

	</div>


	<div class="canvas">

    <div class="left">
      <div class="buttons-div1">
        <button class="add" id="addNodeLeft">Add Node</button>
        <button class="add" id="addEdgeLeft" disabled>Add Edge</button>
        <button class="delete" id="deleteLeft">Delete Graph</button>
      </div>
      <div class="left-canvas" id="cyLeft" style="width: 42vw; height: 100%; border: 0px solid black;"></div>
    </div>

    <div class="line"></div>

    <div class="right">
      <div class="buttons-div2">
        <button class="add" id="addNodeRight">Add Node</button>
        <button class="add" id="addEdgeRight" disabled>Add Edge</button>
        <button class="delete" id="deleteRight">Delete Graph</button>
      </div>
      <div class="right-canvas" id="cyRight" style="width: 42vw; height: 100%; border: 0px solid black;"></div>
    </div>
    
	</div>

	<div class="computing">
		<button class="iso" id="iso" disabled>Show isomorphisms</button>
		<div class="compute2">
      <label for="sim">Fuzzy Graph Similarity:</label>
      <input type="text" id="sim" value="" readonly>
      <label for="tw1">Twin Width 1:</label>
      <input type="text" id="tw1" value="" readonly>
      <label for="tw2">Twin Width 2:</label>
      <input type="text" id="tw2" value="" readonly>
      <button class="compute" id="compute">Compute</button>
    </div>
	</div>
  


  <div id="popup" class="popup">
    <h3>Isomorphisms</h3>
  
  <div id="isomorphismListContainer" class="isomorphismListContainer">
    <ul id="isomorphismList"></ul>
  </div>
  
  
  </div>


<div id="helpModal" class="popup">
  <div class="helpContainer">
    <h2>Help Guide</h2>
      <p>At the top, the user can select a <strong>T-Norm</strong>, which is crucial for computing <strong>fuzzy twin width</strong> and <strong>fuzzy similarity</strong>.</p>
      <p>The user can set the <strong>membership function values (0-1) for nodes and edges</strong> before adding them.</p>
      <ul>
          <li><strong>"Add Node"</strong> adds nodes to the drawing area.</li>
          <li>To add an edge between two nodes:
              <ul>
                  <li>Click on the nodes you want to connect (they will turn green).</li>
                  <li>Click <strong>"Add Edge"</strong> to create the connection.</li>
              </ul>
          </li>
          <li>To delete an object (<strong>node or edge</strong>), right-click on it.</li>
      </ul>
      <p>The <strong>"Compute"</strong> button calculates <strong>fuzzy graph similarity</strong> and <strong>twin width</strong>.</p>
      <ul>
          <li>If the graphs are <strong>isomorphic</strong>, the <strong>"Show Isomorphisms"</strong> button will be enabled.</li>
          <li>This button allows you to view all possible graph mappings.</li>
      </ul>
  </div>
  <button onclick="closeModal()" style="margin-top: 10px; padding: 5px 10px;">Close</button>
</div>

</div>


<script src="{{ url_for('static', filename='js/graph.js') }}"></script>
</body>

</html>